.App {
  text-align: center;
}

input[type="submit"]{
  background-color: yellowgreen;
  padding:0px 20px 0px 20px;
  border-radius: 3px;
}

button{
  background-color: red;
  padding: 6px;
  color: white;
  border-radius: 3px;
}